html, h1, h2, h3, p, a, ol, ul, li, div {
	font-family: "Dejavu Sans", Roboto, Arial, sans-serif;
	font-size: 16px;
	line-height:18px;
	padding:0;
	margin:0;
	color: #333;
}

h1, h2 {
	line-height: 1em;
	color: #f50;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2em;
}

.page-heading {
	padding: 65px 5px 15px 5px;
	margin: 15% auto 40px auto;
	text-align: center;
	animation: overlay-orange-text 1.0s;
}

#container {
	min-height: 100%;
	position: relative;
	top:0;
}

#header {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

#mid-section {
	max-width: 1000px;
	text-align: justify;
	text-align-last: left;
	margin: 50px auto;
	padding: 40px 10px 220px 10px;	line-height: 1.5em;
	letter-spacing: 0.05em;
	font-size: 1.2em;
	font-family: Roboto, sans-serif;
	font-weight: 400;
}

.mid-section {
	max-width: 1000px;
	text-align: justify;
	text-align-last: left;
	margin: 50px auto;
	padding: 40px 10px 220px 10px;	line-height: 1.5em;
	letter-spacing: 0.05em;
	font-size: 1.2em;
	font-family: Roboto, sans-serif;
	font-weight: 400;
}

footer {
	background-color: #222;
	width: 100%;
	height: 140px;
	padding-left: 5px;
	position: absolute;
	/*bottom: -140px;*/
	bottom: -280px;
	left: -1px;
	color: #fff;
}

#foot-deco {
	position: absolute;
	left: -1px;
	bottom: -155px;
	width: 100%;
	height: 60px;
	background-color: #333;
}

.svg-logo {
	display:block;
	z-index: 30;
	margin: 0 auto;
	text-align:center;
}

.bg-tmplt {
	background-repeat: no-repeat;
	background-color: #ccc;
	background-position-Y: 0%;
	background-size: cover;
	width: 100%;
	z-index: -1;
}

.bg-rice {
	background-image: url("res/rice-flour-rice-bowl.jpg");
}

.bg-beans {
	background-image: url("res/rice-and-beans.jpg");
}

.text {
	font-family: "Dejavu Sans", Roboto, Arial, sans-serif;
	color: #f50;
	font-weight: bold;
	margin: 10px auto;
	max-width: 600px;
	line-height: 1.4em;
	animation: overlay-orange-text 1.5s;
}

@keyframes overlay-orange-text {
	0% {
		/*font-size: 0;*/
		opacity: 0;
	}
	30% {
		/*font-size: 0;*/
		opacity: 0;
	}
	100% {
		/*font-size: 1em;*/
		opacity: 100%;
	}
}

.inner-content {
	padding-top: 45px;
	margin: 0 auto;
	height: 830px;
}



.div {
	border: 1px solid #000;
}


#three-piece {
	max-width: 1003px;
	padding: 0 10px;
	margin: -5px auto 0 auto;
}

#select {
	display: inline-flex;
	/*margin: 5px auto;*/
	text-align:center;
	width: 100%;
	position: absolute;
	height: 80px;
}

.top-menu {
	display: inline;
	width: 33.333333%;
}

.top-menu:hover {
	cursor: pointer;
}

#pages {
	display: block;
	padding:5px;
}

.content {
}

.page-wrapper {
	transition: 0.75s;
	/*margin-top: 30px;*/
}

#left {
	width: 0;
	background-image: url("res/bbq-bg03.png");
	/*background-color:#f00;*/
}

#left2 {
	width: 0;
	background-image: url("res/den-bg03.png");
	/*background-color:#f00;*/
}

#center {
	width: 100%;
	height: 100%;
	background-image: url("res/cracker-bg02.png");
	/*background-color:#fff;*/
}

#right {
	width: 0;
	background-image: url("res/about-bg02.png");
	/*background-color:#fff;*/
}


#l-content {
	display: none;
}

#l2-content {
	display: none;
}

#c-content {
	display: block;
}

#r-content {
	display: none;
}

.center-logo {
	/*width: 90%;*/
	display:block;
	margin: 5px auto;
}

.logo {
	position: absolute;
}

#l-logo {
	width: 10%;
	display:block;
	margin: 5px auto;
	transition: 0.75s;
	left: 10%;
}

#l2-logo {
	width: 10%;
	display:block;
	margin: 5px auto;
	transition: 0.75s;
	left: 18%;
}

#c-logo {
	width: 30%;
	display:block;
	margin: 5px auto;
	transition: 0.75s;
	left:35%;
}

#r-logo {
	width: 10%;
	display:block;
	margin: 5px auto;
	transition: 0.75s;
	left: 75%;
}




